numpy<2
PyYAML
rospkg
python-dateutil
catkin-pkg
empy
python-gnupg
pycryptodomex
netifaces
psutil
matplotlib
defusedxml
pydot
PyOpenGL
opencv-python<4.13
pillow
pycairo
pydantic
mediapipe==0.10.14
jax<0.5
jaxlib<0.5
ultralytics
deap
ruff
ollama
openai
websockets