numpy
PyYAML
rospkg
python-dateutil
catkin-pkg
empy
python-gnupg
pycryptodomex
netifaces
psutil
matplotlib
defusedxml
pydot
PyOpenGL
opencv-python
pillow
pycairo
pydantic
mediapipe
ultralytics
deap
ruff
ollama
openai
websockets